@font-face {
    font-family: 'Goldplay';
    src: url('../fonts/Goldplay-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Goldplay';
    src:url('../fonts/Goldplay-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Goldplay';
    src:url('../fonts/Goldplay-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
html, body {
	margin: 0px;
	padding: 0px;
	width: 100%;
	min-height: 100%;
}

body {
	font-family: 'Goldplay';
	color: #161824;
    font-weight: normal;
    font-style: normal;
	font-size: 12px;
	background: #FFF ;
	overflow-x: hidden;
}

a, a:link, a:visited {
    outline: none;
	text-decoration: none;	
	-moz-tap-highlight-color: transparent; 
	-webkit-tap-highlight-color: transparent; 
	color: #662D91;
}

img {
	border: none;
	margin: 0px;
	max-width: 100%;
}


h1 {
	font-family: 'Goldplay';
    font-weight: 900;
	font-size: 90px;
	margin: 0px;
	padding: 0px;	
}

h2 {
	font-family: 'Goldplay';
	font-weight: normal;
	font-size: 24px;
	margin: 0px;
	padding: 0px;
}

h3, h4, h5, h6 {
	font-family: 'Goldplay';
    font-weight: normal;
	margin: 0px;
	padding: 0px;	
}

form, input, select, textarea, p {
	margin: 0px;
	padding: 0;
}

textarea {
	resize: none;
}

input:focus, textarea:focus {
	outline: none;
}

input::-moz-focus-inner { 
    border: 0;
    padding: 0;
}

article, aside, details, figcaption, figure,  
footer, header, hgroup, menu, nav, section, time {  
	display: block; 
	margin: 0px;
	padding: 0; 
} 

.customClear {
	clear: both;
	font-size: 0em;
	line-height: 0px;
	height: 0px;
	margin: 0px;
	padding: 0px;
}

/*IE below 9*/
#ieWrapper {
	background: #000;
	position: fixed;
	z-index: 100;
	top: 0;	left: 0;
	width: 100%;
	height: 100%;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.ieHolder {
	position: relative; 
	width: 555px;
	padding: 20px;
	margin: 200px auto 0 auto;
	background: #FFF;
	border: 7px solid #2b2927;
}

.btnIeUpdate {
	background: url(../images/btnIeUpdate.jpg) 0 0 no-repeat;
	width: 144px;
	height: 37px;
	position: absolute;
	right: 20px;
	bottom: 20px;
	color: #fff;
	line-height: 37px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 13px;
}

.ieLogo {
	float: left;
	width: 134px;
	height: 139px;
	background: url(../images/ieLogo.jpg) no-repeat 0 0;
}

.ieContent {
	float: right;
	margin: 0;
	padding: 0;
	width: 350px;
	color: #666;
	font-size: 15px;
	line-height: 18px;
}

.ieContent strong {
	margin: 0 0 15px 0;
	padding: 0 0 10px 0;
	border-bottom: 1px dashed #cccccc;
	display: block;
	font-size: 18px;
	color: #333;
	font-weight: normal;
}
/*End IE below 9*/
.header-left .caption a{
	text-decoration: underline;
}

.main-wrapper{
	max-width: 1920px;
	width:100%;
	margin: 0 auto;
}

#page_header{
	background: #F6F6EC;
}
.main-header{
	max-width: 1792px;
	width:100%;
	margin: 0 auto;
	box-sizing: border-box;
	padding: 30px 80px 30px 40px;
	
	align-items: center;
	justify-content: space-between;
}

.header-left{
	align-items: center;
}

.flex{
	display: flex;
	flex-flow: row nowrap;
}

.caption{
	font-size: 22px;
	font-weight: 500;
	padding-left: 40px;
}

.menu ul,.menu-center ul {
	list-style: none;
	padding-inline-start: 0px;
}

.menu ul li{
	display: inline-block;
	padding-right: 72px;
	font-size: 19px;
	font-weight: bold;
}

.menu ul li:last-child{
	padding-right: 0px;
}

.menu ul li:last-child a{
	background: #662D91;
	color: #fff;
	border-radius: 20px;
	padding: 25px 40px;
}

a.logo{
	width: 281px;
}

a.logo img,.banner-right-img img{
	width: 100%;
}

.banner{
	height: 942px;
	width: 100%;
	background: url(../images/imgBannerTop.png) right top no-repeat, url(../images/imgBannerBottom.png) left bottom no-repeat;
	background-color: #F16E67;
	display: flex;
	align-items: center;
	position: relative;
}

.page-center{
	max-width: 1419px;
	width: 100%;
	margin: 0 auto; 
}



.banner-content h1{
	color:#fff ;
	line-height: 93px;
	max-width: 982px;
	width: 100%;
}

.banner-content h2{
	max-width: 650px;
	width: 100%;
	font-size: 37px;
	line-height: 43px;
	font-weight: bold;
	color: #DCDCDC;
	padding-top: 60px;
}

.banner-right-img{
	position: absolute;
	bottom: -80px;
    right: -130px;
	width:1054px;
	z-index: 1;
}

.banner .menu-center{
	max-width: 713px;
	width: 100%;
	margin: 0 auto;
	background: #fff;
	position: absolute;
    top: 20px;
    left: 50%;
    transform: translate(-50%, 0);
	border-radius: 23px;
	padding: 10px 15px;
	box-sizing: border-box;
	box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.15);
	-webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.15);
	-moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.15);
}


figure img{
	visibility: hidden;
}


.menu-center ul li{
	display: inline-block;
	font-size: 19px;
	font-weight: bold;
	color: #47088B;
	padding-right: 15px;
}

.menu-center ul li:last-child{
	padding-right: 0px;
}

.menu-center ul li a{
	padding: 7px 20px;
}

.menu-center ul li a:hover{
	background: #E2E2D5;
	border-radius: 12px;
}

.home-about{
	background: url(../images/bgAbout.jpg) no-repeat 0 0;
	background-size: cover;
	width: 100%;
	padding: 200px 0px 193px;
	position: relative;
}

h3{
	font-size: 72px;
	color: #47088B;
	font-weight: 900;
	line-height: 80px;
}

h4{
	font-size: 37px;
}

.home-about h3,.home-about h4{
	text-align: center;
}

.home-about h4{
	padding-top: 65px;
	color: #231F20;
}

.home-about-right-corner{
	position: absolute;
	top:0px;
	right: 0px;
}

.home-about-left-corner{
	position: absolute;
	bottom:0px;
	left: 0px;
}

.about-box{
	padding-top:  70px;
}

.about-box .single-item{
	max-width: 446px;
	width: 100%;
	background: #fff;
	margin-right: 40px;
}

.about-box .single-item:last-child{
	margin-right: 0px;
}

.about-box .single-item,.about-box .single-item img{
	border-radius: 40px;
}

.about-box .single-item img{
	display: block;
	width: 100%;
}

.about-box .single-item .description{
	padding: 50px;
	text-align: center;
}

.about-box .single-item .description h4{
	color: #47088B;
	padding: 0;
}

p{
	font-size: 22px;
	font-weight: 500;
}

.about-box .single-item .description p{
	padding-top: 25px;
	line-height: 28px;
}


.circle{
	position: absolute;
	width: 895px;
	height: 843px;
	right: -700px;
	top: 40%;
}

.slick-track
{
    display: flex !important;
}

.slick-slide
{
    height: inherit !important;
}

@media screen and (max-width: 1919px){
	.main-header{
		max-width: 131vw;
		padding: 2vw 5.8vw 2vw 2.9vw ;
	}

	.caption{
		padding-left: 2.9vw;
		font-size: 1.6vw;
	}
	

	.menu ul li{
		padding-right: 5.2vw;
		font-size: 1.3vw;
	}

	.menu ul li:last-child a{
		padding: 1.8vw 2.9vw;
	}

	.banner{
		height: 49vw;
	}
	.page-center{
		max-width: 73.9vw;
	}


	.banner-right-img{		
		bottom: -4.167vw;
		right: -6.771vw;
		width:54.896vw;
	}


	.banner-content h1{
		font-size:4.69vw;
		line-height: 4.846vw;
		max-width:51.17vw;
	}

	.banner-content h2{
		max-width:33.8vw;
		font-size: 1.92vw;
		line-height: 2.24vw;
		padding-top: 3.12vw;
	}



	.menu-center ul li{
		padding-right: 0.781vw;
		font-size: 0.990vw;
	}

	h3{
		font-size: 3.75vw;
		line-height: 4.16vw
	}

	h4{
		font-size: 1.928vw;
		font-weight: bold;
	}

	p{
		font-size: 1.146vw;
	}

	.home-about {
		padding: 10.417vw 0px 10.052vw;
	}

	.home-about h4{
		padding-top: 3.38vw;
	}

	.about-box .single-item{
		max-width: 23.24vw;
	}


	.about-box .single-item .description{
		padding: 2.606vw;
	}	


	.about-box .single-item{
		margin-right: 2.084vw;
	}

	.about-box .single-item .description p{
		padding-top: 1.303vw;
		line-height: 1.459vw;

	}


	.banner .menu-center {
		max-width: 36.998vw;
		padding: 0.521vw 0.781vw;
	}

	.menu-center ul li a {
		padding: 0.365vw 1.042vw;
	}

	.circle{
		width: 46.639vw;
		height: 43.906vw;
		right: -36.458vw;
	}

	.about-box {
		padding-top: 3.646vw;
	}

}




@media screen and (max-width: 991px){
	.menu ul li:last-child a{
		padding: 1.8vw 1.9vw;
	}

	.menu ul li {
		padding-right: 3.2vw;
	}

	a.logo{
		width: 160px;
	}

	
}

